
// COLORS

$color-primary: #000;
$color-secondry: #000;
$color-tretiary: #000;

$color-white: #fff;
$color-black: #000;

$color-grey-dark: #333;
$color-grey-dark-2: #2c2c2c;

$color-blue-dark: #2f2f4b;

$color-red: #f54444;








// GRID SYSTEM

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;