.navigation {
    z-index: 10;
    padding: 2.5rem 0;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include addMediaQuery(tablet) {
            flex-direction: column;
            align-items: center;
        }
    }
    // &__wrap > * {
    //     flex: 1;
    //     display: flex;
    //     justify-content: space-around;
    //     align-items: center;
    // }


    &__logo-box {
        justify-content: flex-start;
    }

    &__logo {
        height: 9rem;
    }

    &__nav {
        justify-content: center;
    }

    &__list {
        list-style: none;
        display: flex;

        @include addMediaQuery(tablet) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item:not(:last-child) {
        margin-right: 3rem;

        @include addMediaQuery(tablet) {
            margin-right: 0;
        }
    }

    &__link {
        position: relative;
        text-decoration: none;
        font-size: 2rem;
        color: $color-red;

        @include addMediaQuery(tablet) {
            font-size: 1.3rem;
        }
    }

    &__icon {
        width: 2.8rem;
        height: 2.8rem;
    }

    &__notification {
        position: absolute;
        top: 11px;
        left: 16px;
        background-color: red;
        border-radius: 24px;
        box-shadow: -1px 1px 2px 0 rgba($color-black, .3);
        color: #fff;
        cursor: default;
        font-size: 13px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        -webkit-user-select: none;
        width: 24px;
    }

    &__notification-counter {
        position: absolute;
        top: 2px;
        left: 7px;    
    }

    &__select {
        border: 1px solid grey;
    }

    &__profile-shape {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        overflow: hidden;
    }

    &__profile-image {
        width: 100%;
    }
}